<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Mission to Mars</title>
</head>

<body>
  <div class="container">

    <div class="jumbotron">
      <h1>
        <center>Mission to Mars</center>
      </h1>
      <p>
        <center><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></center>
      </p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <h4> {{ mars.news_title }}</h4>
          <p> {{mars.teaser_p}} </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 big_box">
          <h2>Featured Mars Image</h2>
          <img src="{{ mars.featured_image_url }}" width="600" height="400">
        </div>

        <div class="col-md-4">
          <div class="row weather-box">
            <div class="col-md-12">
              <h3>Latest Weather on Mars</h3>
              <p>
                {{mars.mars_weather}}
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Fun Facts About Mars</h3>
            {{mars.mars_facts_html  |  safe}}
          </div>
        </div>
        <br><br>

        <center>
            <p class="text-monospace">Mars Hemispheres</p>
            <p class="text-monospace">Mars Hemispheres</p>
            <p class="text-monospace">Mars Hemispheres</p>
            <p class="text-monospace">BELOW!</p>
          
            <br><br>

          <div class="container">
            <div class="row">
              <div class="col-6 col-sm-4">
                <h6>{{mars.mars_hemisphere[0].title}}</h6>
                <img src="{{mars.mars_hemisphere[0].img_url}}" width="300" height="300">
              </div>

              <div class="col-6 col-sm-4">
                <h6>{{mars.mars_hemisphere[1].title}}</h6>
                <img src="{{mars.mars_hemisphere[1].img_url}}" width="300" height="300">
              </div>

              <!-- Force next columns to break to new line at md breakpoint and up -->
              <div class="w-100 d-none d-md-block"></div>

              <div class="col-6 col-sm-4">
                <h6>{{mars.mars_hemisphere[2].title}}</h6>
                <img src="{{mars.mars_hemisphere[2].img_url}}" width="300" height="300">
              </div>
              <div class="col-6 col-sm-4">
                <h6>{{mars.mars_hemisphere[3].title}}</h6>
                <img src="{{mars.mars_hemisphere[3].img_url}}" width="300" height="300">
              </div>
            </div>
        </center>




      </div>

    </div>

  </div>

  </div>
  </div>


</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>