
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="container">

    <div class="jumbotron">
      <h1>Mission to Mars</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <h4> {{ mars.news_title }}</h4>
          <p> {{mars.teaser_p}} </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 big_box">
          <h2>Featured Mars Image</h2>
          <img src="{{ mars.featured_image_url }}" width="600" height="400">
        </div>

        <div class="col-md-4">
          <div class="row weather-box">
            <div class="col-md-12">
              <h3>Latest Weather on Mars</h3>
              <p>
                {{mars.mars_weather}}
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Fun Facts About Mars</h3>
            <table>{{mars.mars_facts_html}}></table>
          </div>
        </div>

      </div>

    </div>
   
  </div>
  </div>
  </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
    </script>

</body>

